<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Patrol Tech</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Dashboard</a>
      <a mat-list-item routerLink="/scans">Scans</a>
      <a mat-list-item routerLink="/users">Users</a>
<!--      <a mat-list-item routerLink="/settings">Configuración</a>-->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{organizationName}}</span>
      <span class="spacer-small"></span>
      <mat-form-field appearance="outline" class="location-select">
        <mat-select [value]="selectedLocation" (selectionChange)="onLocationChange($event.value)" placeholder="Seleccionar ubicación">
          <mat-option *ngFor="let location of locations" [value]="location">
            {{location.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="notificationMenu" aria-label="Notificaciones">
<!--        <mat-icon matBadge="3" matBadgeColor="warn">notifications</mat-icon>-->
        <mat-icon >notifications</mat-icon>
      </button>
      <mat-menu #notificationMenu="matMenu">
        <button mat-menu-item>No news!!</button>
<!--        <button mat-menu-item>Notificación 1</button>-->
<!--        <button mat-menu-item>Notificación 2</button>-->
<!--        <button mat-menu-item>Notificación 3</button>-->
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="Usuario">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item disabled>{{ user.name }}</button>
        <button mat-menu-item (click)="logout()">Cerrar sesión</button>
      </mat-menu>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
