@import "variables";
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.company-name {
  margin-left: 8px;
  font-size: 1.2em;
  font-weight: 500;
}

.spacer {
  flex: 1 1 auto;
}

.spacer-small {
  margin: 0 10px;
}

.location-select {
  width: 200px;
  margin-top: -1.25em; // Ajusta el margen superior para alinear con la toolbar
  
  ::ng-deep {
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
    
    .mat-mdc-form-field-infix {
      padding: 0.5em 0;
    }

    .mat-mdc-text-field-wrapper {
      background-color: rgba(255, 255, 255, 0.1);
    }

    .mat-mdc-form-field-flex {
      margin-top: 0;
    }
    
    .mdc-text-field--outlined {
      --mdc-outlined-text-field-outline-color: rgba(255, 255, 255, 0.3);
    }

    .mat-mdc-select-value-text {
      color: white;
    }
  }
}


.content {
  padding: 20px;
}

::ng-deep.mat-mdc-card{
  border: 1px solid $primary-lighter-color !important;

  ::ng-deep.mat-mdc-card-header{
    background-color: $primary-color !important;
    color: white !important;
    height: 3rem !important;
  }
}
